@model Song_Category.Models.Song

@{
    ViewData["Title"] = "Edit";
    var Category = ViewData["categories"] as List<Category>;
}

<h2>Edit</h2>

<h4>Song</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label asp-for="SongCategories" class="control-label"></label>
                <ul>
                    
                    @foreach (var c in Category)
                    {
                        <li><input type="checkbox" value="@c.Id" name="categoriesId[]" /> @c.Name</li>
                    }

                </ul>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
